@charset "UTF8";

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    border-radius: 3cm;
    background-color: dodgerblue;
    color: mediumblue;
    font-size: 1.5em;
}

h2 {
    color: darkred;
    font-size: 1.2em;
}

p {
    text-align: justify;
}